body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    font-size: 12px;
}

.all {
    width: 90%;
    margin: auto;
}

button {
    height: 25px;
    width: 150px;
}

button:hover {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 4px;
    transition: 0.1s;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #e2e2e2;
    padding: 0 15px;
}

.header:hover {
    cursor: default;
}

