form {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto 1fr;
    gap: 8px 16px;
    align-items: center;
}

input, textarea {
    margin: 10px 50px 10px 5px;

}

button:hover {
    background-color: rgb(12, 142, 223);
}