table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    margin: 10px 0px;
}

.footer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.btn-delete:hover {
    background-color: rgb(232, 35, 35);
}

.btn-update:hover {
    background-color: rgb(61, 152, 72);
}

.btn-result:hover {
    background-color: rgb(83, 5, 86);
}

