form {
    display: flex;
    flex-wrap: wrap;
}
.info {
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 6px;
    column-gap: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.info label {
    font-weight: bold;

}

.info p {
    margin: 0;

}
.iput {
    display: grid;
    grid-template-columns: 100px auto 100px auto 100px auto;
    row-gap: 6px;
    column-gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    
}

.iput input {
    margin: 0;
}