* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    margin-top: 20px;
}

.container {
    width: 1270px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

/* Login */
.body__login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.form__wrap {
    padding: 20px;
    border-radius: 10px;
    min-width: 400px;
    min-height: 350px;
    margin: 0 auto;
    background: #ccc;

}

.form__title {
    text-align: center;
}

.form {
    margin-top: 10px;
}

.form__group {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.form__input {
    width: 100%;
    padding: 8px 16px;
    font-size: 1.8rem;
    font-weight: 500;
    outline: none;
    border: 0.5px solid #ccc;
    border-radius: 10px;
}

.form__submit {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    padding: 8px 16px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.form__control {
    display: flex;
    align-items: center;
    gap: 4px;
}


/* Index */

/* Logout */
.logout {
    display: block;

}
